In [8]:
import sqlite3
import json
from datetime import datetime
import sys
!{sys.executable} -m pip install dill

Requirement already satisfied: dill in c:\users\rakeshs\anaconda3\lib\site-packages (0.3.1.1)

In [9]:
import dill

In [2]:
timeframe='2015-01'
sql_transaction=[]
start_row = 0
cleanup = 1000000

In [3]:
connection=sqlite3.connect('C:/Users/RakeshS/Videos/videos/ENGLISH MOVIES/RC_2015-01/{}.db'.format(timeframe))
c=connection.cursor()

In [4]:
def create_table():
    c.execute(""" CREATE TABLE IF NOT EXISTS parent_reply
    (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT,
    comment TEXT, subreddit TEXT, unix INT, score INT ) """)
    
def format_data(data):
    data= data.replace("\n"," newlinechar").replace("\r","newlinechar").replace('"',"'")
    return data

def find_existing_score(pid):
    try:
        sql="SELECT score FROM parent_reply WHERE parent_id='{}' LIMIT 1".format(pid)
        c.execute(sql)
        result=c.fetchone()
        if result!=None:
            return result[0]
        else:
            return False
    except Exception as e:
        #print("find_parent",e)
        return False

def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]' or data == '[removed]':
        return False
    else:
        return True
    
    

def find_parent(pid):
    try:
        sql="SELECT comment FROM parent_reply WHERE comment_id='{}' LIMIT 1".format(pid)
        c.execute(sql)
        result=c.fetchone()
        if result!=None:
            return result[0]
        else:
            return False
    except Exception as e:
        #print("find_parent",e)
        return False

    
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql=""" UPDATE parent_reply SET parent_id=?,comment_id=?,parent=?,comment=?,subreddit=?,time=?,unix=?,score=? WHERE parent_id=?;""".format(commentid, parentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print("s0-replace-comment insertion",str(e))
        
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0-has-parent insertion',str(e))
        
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0-no-parent insertion',str(e))

In [5]:
if __name__=='__main__':
    create_table()
    row_counter=0
    paired_rows=0

In [6]:
with open("C:/Users/RakeshS/Videos/videos/ENGLISH MOVIES/RC_2015-01/{}/RC_{}".format(timeframe.split('-')[0], timeframe), buffering=1000) as f:
    for row in f:
        row_counter+=1
        if row_counter > start_row:
            
            try:
                
                row=json.loads(row)
                parent_id=row['parent_id']
                body=format_data(row['body'])
                created_utc=row['created_utc']
                score=row['score']
                comment_id = row['name']
                subreddit=row['subreddit']
                parent_data=find_parent(parent_id)
                if score >= 2:
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if acceptable(body):
                                
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            
                else:
                    
                    if acceptable(body):
                        
                        if parent_data:
                            
                            sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            paired_rows += 1
                        else:
                            
                            sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
            except Exception as e:
                print(str(e))
                
        if row_counter % 100000 == 0:
            print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))
            
        if row_counter > start_row:
            
            if row_counter % cleanup == 0:
                
                print("Cleanin up!")
                sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                c.execute(sql)
                connection.commit()
                c.execute("VACUUM")
                connection.commit()

Total Rows Read: 100000, Paired Rows: 5095, Time: 2019-11-28 14:24:03.763082
Total Rows Read: 200000, Paired Rows: 12121, Time: 2019-11-28 14:25:08.609877
Total Rows Read: 300000, Paired Rows: 19823, Time: 2019-11-28 14:26:11.498428
Total Rows Read: 400000, Paired Rows: 27702, Time: 2019-11-28 14:27:19.814826
Total Rows Read: 500000, Paired Rows: 34934, Time: 2019-11-28 14:28:29.343853
Total Rows Read: 600000, Paired Rows: 41293, Time: 2019-11-28 14:29:44.848723
Total Rows Read: 700000, Paired Rows: 47749, Time: 2019-11-28 14:31:01.828319
Total Rows Read: 800000, Paired Rows: 54552, Time: 2019-11-28 14:32:17.313390
Total Rows Read: 900000, Paired Rows: 62133, Time: 2019-11-28 14:33:26.047882
Total Rows Read: 1000000, Paired Rows: 70126, Time: 2019-11-28 14:34:41.817072
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 76833, Time: 2019-11-28 14:36:05.589927
Total Rows Read: 1200000, Paired Rows: 84398, Time: 2019-11-28 14:37:20.928060
Total Rows Read: 1300000, Paired Rows: 92389, Time: 2019-11-28 14:38:43.189483
Total Rows Read: 1400000, Paired Rows: 100895, Time: 2019-11-28 14:39:59.133802
Total Rows Read: 1500000, Paired Rows: 109261, Time: 2019-11-28 14:40:58.160896
Total Rows Read: 1600000, Paired Rows: 117871, Time: 2019-11-28 14:41:59.030571
Total Rows Read: 1700000, Paired Rows: 126646, Time: 2019-11-28 14:42:58.232965
Total Rows Read: 1800000, Paired Rows: 135317, Time: 2019-11-28 14:43:58.986021
Total Rows Read: 1900000, Paired Rows: 142928, Time: 2019-11-28 14:44:57.906596
Total Rows Read: 2000000, Paired Rows: 150906, Time: 2019-11-28 14:46:13.171528
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 156797, Time: 2019-11-28 14:47:46.842484
Total Rows Read: 2200000, Paired Rows: 163152, Time: 2019-11-28 14:48:59.541474
Total Rows Read: 2300000, Paired Rows: 170168, Time: 2019-11-28 14:50:14.019385
Total Rows Read: 2400000, Paired Rows: 177471, Time: 2019-11-28 14:51:33.832795
Total Rows Read: 2500000, Paired Rows: 185552, Time: 2019-11-28 14:52:51.389519
Total Rows Read: 2600000, Paired Rows: 193852, Time: 2019-11-28 14:54:10.509695
Total Rows Read: 2700000, Paired Rows: 202734, Time: 2019-11-28 14:55:28.211354
Total Rows Read: 2800000, Paired Rows: 211531, Time: 2019-11-28 14:56:44.010736
Total Rows Read: 2900000, Paired Rows: 220027, Time: 2019-11-28 14:58:00.937092
Total Rows Read: 3000000, Paired Rows: 229042, Time: 2019-11-28 14:59:16.863697
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 236275, Time: 2019-11-28 15:00:47.178100
Total Rows Read: 3200000, Paired Rows: 244040, Time: 2019-11-28 15:02:02.183415
Total Rows Read: 3300000, Paired Rows: 252150, Time: 2019-11-28 15:03:17.199724
Total Rows Read: 3400000, Paired Rows: 260636, Time: 2019-11-28 15:04:33.723303
Total Rows Read: 3500000, Paired Rows: 269233, Time: 2019-11-28 15:05:52.225300
Total Rows Read: 3600000, Paired Rows: 277578, Time: 2019-11-28 15:07:08.054733
Total Rows Read: 3700000, Paired Rows: 285293, Time: 2019-11-28 15:08:23.390661
Total Rows Read: 3800000, Paired Rows: 292612, Time: 2019-11-28 15:09:40.532642
Total Rows Read: 3900000, Paired Rows: 300410, Time: 2019-11-28 15:10:57.705498
Total Rows Read: 4000000, Paired Rows: 308182, Time: 2019-11-28 15:12:12.909129
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 313816, Time: 2019-11-28 15:13:40.999082
Total Rows Read: 4200000, Paired Rows: 320725, Time: 2019-11-28 15:14:51.016460
Total Rows Read: 4300000, Paired Rows: 328336, Time: 2019-11-28 15:16:03.807612
Total Rows Read: 4400000, Paired Rows: 336026, Time: 2019-11-28 15:17:11.880779
Total Rows Read: 4500000, Paired Rows: 343551, Time: 2019-11-28 15:18:24.884536
Total Rows Read: 4600000, Paired Rows: 351387, Time: 2019-11-28 15:19:42.958277
Total Rows Read: 4700000, Paired Rows: 358908, Time: 2019-11-28 15:20:57.748799
Total Rows Read: 4800000, Paired Rows: 366801, Time: 2019-11-28 15:22:16.345610
Total Rows Read: 4900000, Paired Rows: 374425, Time: 2019-11-28 15:23:32.402637
Total Rows Read: 5000000, Paired Rows: 381911, Time: 2019-11-28 15:24:35.247016
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 387662, Time: 2019-11-28 15:25:51.683654
Total Rows Read: 5200000, Paired Rows: 394344, Time: 2019-11-28 15:26:49.640772
Total Rows Read: 5300000, Paired Rows: 401046, Time: 2019-11-28 15:28:00.446068
Total Rows Read: 5400000, Paired Rows: 407011, Time: 2019-11-28 15:29:02.073468
Total Rows Read: 5500000, Paired Rows: 413158, Time: 2019-11-28 15:30:09.183986
Total Rows Read: 5600000, Paired Rows: 419781, Time: 2019-11-28 15:31:10.237237
Total Rows Read: 5700000, Paired Rows: 426723, Time: 2019-11-28 15:32:14.020161
Total Rows Read: 5800000, Paired Rows: 433906, Time: 2019-11-28 15:34:09.681318
Total Rows Read: 5900000, Paired Rows: 441309, Time: 2019-11-28 15:35:30.454435
Total Rows Read: 6000000, Paired Rows: 449130, Time: 2019-11-28 15:37:32.818002
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 455282, Time: 2019-11-28 15:39:22.549039
Total Rows Read: 6200000, Paired Rows: 461677, Time: 2019-11-28 15:40:21.831437
Total Rows Read: 6300000, Paired Rows: 468514, Time: 2019-11-28 15:41:25.080226
Total Rows Read: 6400000, Paired Rows: 475343, Time: 2019-11-28 15:42:33.540508
Total Rows Read: 6500000, Paired Rows: 482814, Time: 2019-11-28 15:43:40.214324
Total Rows Read: 6600000, Paired Rows: 490600, Time: 2019-11-28 15:44:44.814322
Total Rows Read: 6700000, Paired Rows: 498333, Time: 2019-11-28 15:45:47.350445
Total Rows Read: 6800000, Paired Rows: 505683, Time: 2019-11-28 15:46:53.748311
Total Rows Read: 6900000, Paired Rows: 512493, Time: 2019-11-28 15:47:54.290770
Total Rows Read: 7000000, Paired Rows: 518637, Time: 2019-11-28 15:48:54.765802
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 522897, Time: 2019-11-28 15:50:19.181733
Total Rows Read: 7200000, Paired Rows: 528064, Time: 2019-11-28 15:51:15.333393
Total Rows Read: 7300000, Paired Rows: 533940, Time: 2019-11-28 15:52:12.199732
Total Rows Read: 7400000, Paired Rows: 540172, Time: 2019-11-28 15:53:10.473453
Total Rows Read: 7500000, Paired Rows: 546684, Time: 2019-11-28 15:54:53.285943
Total Rows Read: 7600000, Paired Rows: 553570, Time: 2019-11-28 15:56:25.939447
Total Rows Read: 7700000, Paired Rows: 560667, Time: 2019-11-28 15:58:00.399442
Total Rows Read: 7800000, Paired Rows: 567051, Time: 2019-11-28 15:59:14.630823
Total Rows Read: 7900000, Paired Rows: 574016, Time: 2019-11-28 16:01:41.233818
Total Rows Read: 8000000, Paired Rows: 581777, Time: 2019-11-28 16:04:02.273741
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 587496, Time: 2019-11-28 16:06:12.370865
Total Rows Read: 8200000, Paired Rows: 593950, Time: 2019-11-28 16:07:20.326122
Total Rows Read: 8300000, Paired Rows: 600838, Time: 2019-11-28 16:08:30.578239
Total Rows Read: 8400000, Paired Rows: 608024, Time: 2019-11-28 16:09:32.694133
Total Rows Read: 8500000, Paired Rows: 615332, Time: 2019-11-28 16:10:40.301875
Total Rows Read: 8600000, Paired Rows: 622168, Time: 2019-11-28 16:11:51.529841
Total Rows Read: 8700000, Paired Rows: 628476, Time: 2019-11-28 16:13:04.030026
Total Rows Read: 8800000, Paired Rows: 634489, Time: 2019-11-28 16:14:14.649593
Total Rows Read: 8900000, Paired Rows: 641226, Time: 2019-11-28 16:15:32.278995
Total Rows Read: 9000000, Paired Rows: 647840, Time: 2019-11-28 16:16:42.903294
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 652368, Time: 2019-11-28 16:18:24.937477
Total Rows Read: 9200000, Paired Rows: 658011, Time: 2019-11-28 16:19:38.123222
Total Rows Read: 9300000, Paired Rows: 664111, Time: 2019-11-28 16:20:44.455128
Total Rows Read: 9400000, Paired Rows: 670638, Time: 2019-11-28 16:21:54.561035
Total Rows Read: 9500000, Paired Rows: 677599, Time: 2019-11-28 16:22:55.669374
Total Rows Read: 9600000, Paired Rows: 684777, Time: 2019-11-28 16:23:57.026755
Total Rows Read: 9700000, Paired Rows: 692324, Time: 2019-11-28 16:24:57.420132
Total Rows Read: 9800000, Paired Rows: 699914, Time: 2019-11-28 16:26:00.773553
Total Rows Read: 9900000, Paired Rows: 707780, Time: 2019-11-28 16:27:55.571861
Total Rows Read: 10000000, Paired Rows: 715779, Time: 2019-11-28 16:29:57.328312
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 721901, Time: 2019-11-28 16:32:17.780351
Total Rows Read: 10200000, Paired Rows: 729042, Time: 2019-11-28 16:33:16.013720

Total Rows Read: 10300000, Paired Rows: 736037, Time: 2019-11-28 16:34:18.233771
Total Rows Read: 10400000, Paired Rows: 742734, Time: 2019-11-28 16:35:26.366013
Total Rows Read: 10500000, Paired Rows: 748895, Time: 2019-11-28 16:36:35.383712
Total Rows Read: 10600000, Paired Rows: 754786, Time: 2019-11-28 16:37:54.900113
Total Rows Read: 10700000, Paired Rows: 760920, Time: 2019-11-28 16:39:18.108520
Total Rows Read: 10800000, Paired Rows: 767305, Time: 2019-11-28 16:40:40.429059
Total Rows Read: 10900000, Paired Rows: 773602, Time: 2019-11-28 16:41:48.362768
Total Rows Read: 11000000, Paired Rows: 780210, Time: 2019-11-28 16:42:50.420236
Cleanin up!
Total Rows Read: 11100000, Paired Rows: 784907, Time: 2019-11-28 16:44:31.511275
Total Rows Read: 11200000, Paired Rows: 790873, Time: 2019-11-28 16:45:32.631626
Total Rows Read: 11300000, Paired Rows: 797364, Time: 2019-11-28 16:46:36.678100
Total Rows Read: 11400000, Paired Rows: 804256, Time: 2019-11-28 16:48:06.286497
Total Rows Read: 11500000, Paired Rows: 811542, Time: 2019-11-28 16:50:22.150687
Total Rows Read: 11600000, Paired Rows: 819067, Time: 2019-11-28 16:52:27.581429
Total Rows Read: 11700000, Paired Rows: 827220, Time: 2019-11-28 16:54:27.500558
Total Rows Read: 11800000, Paired Rows: 835388, Time: 2019-11-28 16:56:19.309772
Total Rows Read: 11900000, Paired Rows: 843523, Time: 2019-11-28 16:58:04.666797
Total Rows Read: 12000000, Paired Rows: 851495, Time: 2019-11-28 16:59:11.259246
Cleanin up!
Total Rows Read: 12100000, Paired Rows: 857568, Time: 2019-11-28 17:03:53.472792
Total Rows Read: 12200000, Paired Rows: 864254, Time: 2019-11-28 17:07:40.280066
Total Rows Read: 12300000, Paired Rows: 870445, Time: 2019-11-28 17:10:35.450783
Total Rows Read: 12400000, Paired Rows: 876197, Time: 2019-11-28 17:12:42.336073
Total Rows Read: 12500000, Paired Rows: 881985, Time: 2019-11-28 17:13:49.190548
Total Rows Read: 12600000, Paired Rows: 888539, Time: 2019-11-28 17:14:50.152508
Total Rows Read: 12700000, Paired Rows: 895106, Time: 2019-11-28 17:15:51.905105
Total Rows Read: 12800000, Paired Rows: 901759, Time: 2019-11-28 17:16:54.576805
Total Rows Read: 12900000, Paired Rows: 908475, Time: 2019-11-28 17:18:00.505532
Total Rows Read: 13000000, Paired Rows: 915409, Time: 2019-11-28 17:19:03.645899
Cleanin up!
Total Rows Read: 13100000, Paired Rows: 920878, Time: 2019-11-28 17:20:38.085345
Total Rows Read: 13200000, Paired Rows: 927208, Time: 2019-11-28 17:21:41.935993
Total Rows Read: 13300000, Paired Rows: 934038, Time: 2019-11-28 17:22:50.155528
Total Rows Read: 13400000, Paired Rows: 941221, Time: 2019-11-28 17:24:06.967110
Total Rows Read: 13500000, Paired Rows: 949006, Time: 2019-11-28 17:25:43.324252
Total Rows Read: 13600000, Paired Rows: 956765, Time: 2019-11-28 17:28:32.382037
Total Rows Read: 13700000, Paired Rows: 964719, Time: 2019-11-28 17:30:54.865876
Total Rows Read: 13800000, Paired Rows: 972763, Time: 2019-11-28 17:32:46.073873
Total Rows Read: 13900000, Paired Rows: 980792, Time: 2019-11-28 17:34:50.940554
Total Rows Read: 14000000, Paired Rows: 988527, Time: 2019-11-28 17:36:53.357823
Cleanin up!
Total Rows Read: 14100000, Paired Rows: 993993, Time: 2019-11-28 17:39:30.756197
Total Rows Read: 14200000, Paired Rows: 999735, Time: 2019-11-28 17:40:34.597517
Total Rows Read: 14300000, Paired Rows: 1005619, Time: 2019-11-28 17:41:39.048961
Total Rows Read: 14400000, Paired Rows: 1011938, Time: 2019-11-28 17:42:43.706095
Total Rows Read: 14500000, Paired Rows: 1018295, Time: 2019-11-28 17:43:47.297028
Total Rows Read: 14600000, Paired Rows: 1024961, Time: 2019-11-28 17:44:50.437522
Total Rows Read: 14700000, Paired Rows: 1031667, Time: 2019-11-28 17:45:52.238589
Total Rows Read: 14800000, Paired Rows: 1038681, Time: 2019-11-28 17:46:54.250630
Total Rows Read: 14900000, Paired Rows: 1045943, Time: 2019-11-28 17:47:57.869065
Total Rows Read: 15000000, Paired Rows: 1053344, Time: 2019-11-28 17:49:47.751511
Cleanin up!
Total Rows Read: 15100000, Paired Rows: 1058644, Time: 2019-11-28 17:51:56.644711
Total Rows Read: 15200000, Paired Rows: 1065408, Time: 2019-11-28 17:52:55.994971
Total Rows Read: 15300000, Paired Rows: 1072774, Time: 2019-11-28 17:53:57.158530
Total Rows Read: 15400000, Paired Rows: 1080709, Time: 2019-11-28 17:55:02.284562
Total Rows Read: 15500000, Paired Rows: 1088642, Time: 2019-11-28 17:57:24.624479
Total Rows Read: 15600000, Paired Rows: 1096551, Time: 2019-11-28 17:59:40.873394
Total Rows Read: 15700000, Paired Rows: 1104269, Time: 2019-11-28 18:01:50.626501
Total Rows Read: 15800000, Paired Rows: 1111768, Time: 2019-11-28 18:03:45.084655
Total Rows Read: 15900000, Paired Rows: 1118711, Time: 2019-11-28 18:05:45.409432
Total Rows Read: 16000000, Paired Rows: 1125070, Time: 2019-11-28 18:07:48.574712
Cleanin up!
Total Rows Read: 16100000, Paired Rows: 1129631, Time: 2019-11-28 18:10:34.940346
Total Rows Read: 16200000, Paired Rows: 1135207, Time: 2019-11-28 18:11:35.484541
Total Rows Read: 16300000, Paired Rows: 1141341, Time: 2019-11-28 18:12:37.287714
Total Rows Read: 16400000, Paired Rows: 1148362, Time: 2019-11-28 18:13:51.354179
Total Rows Read: 16500000, Paired Rows: 1155638, Time: 2019-11-28 18:14:58.248634
Total Rows Read: 16600000, Paired Rows: 1163222, Time: 2019-11-28 18:16:02.086779
Total Rows Read: 16700000, Paired Rows: 1170695, Time: 2019-11-28 18:17:06.998791
Total Rows Read: 16800000, Paired Rows: 1177970, Time: 2019-11-28 18:18:15.634732
Total Rows Read: 16900000, Paired Rows: 1185642, Time: 2019-11-28 18:19:24.909479
Total Rows Read: 17000000, Paired Rows: 1192907, Time: 2019-11-28 18:20:27.681566
Cleanin up!
Total Rows Read: 17100000, Paired Rows: 1198576, Time: 2019-11-28 18:22:14.729304
Total Rows Read: 17200000, Paired Rows: 1204927, Time: 2019-11-28 18:23:32.269903
Total Rows Read: 17300000, Paired Rows: 1211856, Time: 2019-11-28 18:24:54.719655
Total Rows Read: 17400000, Paired Rows: 1219192, Time: 2019-11-28 18:26:10.193454
Total Rows Read: 17500000, Paired Rows: 1225966, Time: 2019-11-28 18:27:16.313715
Total Rows Read: 17600000, Paired Rows: 1232081, Time: 2019-11-28 18:28:41.889504
Total Rows Read: 17700000, Paired Rows: 1238171, Time: 2019-11-28 18:30:02.405766
Total Rows Read: 17800000, Paired Rows: 1244584, Time: 2019-11-28 18:31:47.640962
Total Rows Read: 17900000, Paired Rows: 1251543, Time: 2019-11-28 18:33:34.177064
Total Rows Read: 18000000, Paired Rows: 1258945, Time: 2019-11-28 18:34:57.685672
Cleanin up!
Total Rows Read: 18100000, Paired Rows: 1264617, Time: 2019-11-28 18:37:37.528970
Total Rows Read: 18200000, Paired Rows: 1271028, Time: 2019-11-28 18:38:58.221039
Total Rows Read: 18300000, Paired Rows: 1277573, Time: 2019-11-28 18:40:20.097458
Total Rows Read: 18400000, Paired Rows: 1284575, Time: 2019-11-28 18:41:44.265411
Total Rows Read: 18500000, Paired Rows: 1292010, Time: 2019-11-28 18:42:55.526102
Total Rows Read: 18600000, Paired Rows: 1299676, Time: 2019-11-28 18:44:20.840245
Total Rows Read: 18700000, Paired Rows: 1307424, Time: 2019-11-28 18:45:43.598059
Total Rows Read: 18800000, Paired Rows: 1315421, Time: 2019-11-28 18:47:05.783135
Total Rows Read: 18900000, Paired Rows: 1323185, Time: 2019-11-28 18:48:28.289711
Total Rows Read: 19000000, Paired Rows: 1330659, Time: 2019-11-28 18:49:53.713840
Cleanin up!
Total Rows Read: 19100000, Paired Rows: 1335903, Time: 2019-11-28 18:52:00.658311
Total Rows Read: 19200000, Paired Rows: 1341205, Time: 2019-11-28 18:53:19.674614
Total Rows Read: 19300000, Paired Rows: 1346399, Time: 2019-11-28 18:54:38.656465
Total Rows Read: 19400000, Paired Rows: 1352845, Time: 2019-11-28 18:55:59.176800
Total Rows Read: 19500000, Paired Rows: 1359310, Time: 2019-11-28 18:57:58.151770
Total Rows Read: 19600000, Paired Rows: 1365662, Time: 2019-11-28 19:00:45.743893
Total Rows Read: 19700000, Paired Rows: 1371987, Time: 2019-11-28 19:02:50.019403
Total Rows Read: 19800000, Paired Rows: 1378762, Time: 2019-11-28 19:04:54.687324
Total Rows Read: 19900000, Paired Rows: 1385512, Time: 2019-11-28 19:06:59.991140
Total Rows Read: 20000000, Paired Rows: 1392833, Time: 2019-11-28 19:08:55.760543
Cleanin up!
Total Rows Read: 20100000, Paired Rows: 1398205, Time: 2019-11-28 19:12:02.994379

Total Rows Read: 20200000, Paired Rows: 1404723, Time: 2019-11-28 19:13:16.639013
Total Rows Read: 20300000, Paired Rows: 1411953, Time: 2019-11-28 19:14:34.420053
Total Rows Read: 20400000, Paired Rows: 1419427, Time: 2019-11-28 19:15:47.258473
Total Rows Read: 20500000, Paired Rows: 1426498, Time: 2019-11-28 19:16:57.925449
Total Rows Read: 20600000, Paired Rows: 1433555, Time: 2019-11-28 19:18:05.895034
Total Rows Read: 20700000, Paired Rows: 1440859, Time: 2019-11-28 19:19:11.863946
Total Rows Read: 20800000, Paired Rows: 1447483, Time: 2019-11-28 19:20:19.169773
Total Rows Read: 20900000, Paired Rows: 1454199, Time: 2019-11-28 19:21:28.584357
Total Rows Read: 21000000, Paired Rows: 1460530, Time: 2019-11-28 19:23:05.571621
Cleanin up!
Total Rows Read: 21100000, Paired Rows: 1464830, Time: 2019-11-28 19:25:39.312064
Total Rows Read: 21200000, Paired Rows: 1470253, Time: 2019-11-28 19:26:59.510678
Total Rows Read: 21300000, Paired Rows: 1476395, Time: 2019-11-28 19:28:23.854355
Total Rows Read: 21400000, Paired Rows: 1482753, Time: 2019-11-28 19:29:48.941713
Total Rows Read: 21500000, Paired Rows: 1489434, Time: 2019-11-28 19:31:12.066238
Total Rows Read: 21600000, Paired Rows: 1496107, Time: 2019-11-28 19:33:13.675357
Total Rows Read: 21700000, Paired Rows: 1502976, Time: 2019-11-28 19:35:29.639221
Total Rows Read: 21800000, Paired Rows: 1509752, Time: 2019-11-28 19:38:12.211442
Total Rows Read: 21900000, Paired Rows: 1516620, Time: 2019-11-28 19:41:01.545761
Total Rows Read: 22000000, Paired Rows: 1523768, Time: 2019-11-28 19:43:20.060389
Cleanin up!
Total Rows Read: 22100000, Paired Rows: 1529031, Time: 2019-11-28 19:46:12.546958
Total Rows Read: 22200000, Paired Rows: 1535407, Time: 2019-11-28 19:47:11.848453
Total Rows Read: 22300000, Paired Rows: 1542295, Time: 2019-11-28 19:48:13.367756
Total Rows Read: 22400000, Paired Rows: 1549525, Time: 2019-11-28 19:49:16.170678
Total Rows Read: 22500000, Paired Rows: 1557052, Time: 2019-11-28 19:50:19.375060
Total Rows Read: 22600000, Paired Rows: 1564441, Time: 2019-11-28 19:51:24.355570
Total Rows Read: 22700000, Paired Rows: 1571266, Time: 2019-11-28 19:52:28.179241
Total Rows Read: 22800000, Paired Rows: 1577623, Time: 2019-11-28 19:53:34.123403
Total Rows Read: 22900000, Paired Rows: 1583562, Time: 2019-11-28 19:54:54.305837
Total Rows Read: 23000000, Paired Rows: 1590220, Time: 2019-11-28 19:56:18.822721
Cleanin up!
Total Rows Read: 23100000, Paired Rows: 1594759, Time: 2019-11-28 19:59:04.081486
Total Rows Read: 23200000, Paired Rows: 1600204, Time: 2019-11-28 20:00:24.828149
Total Rows Read: 23300000, Paired Rows: 1606226, Time: 2019-11-28 20:01:45.493913
Total Rows Read: 23400000, Paired Rows: 1612406, Time: 2019-11-28 20:03:05.172401
Total Rows Read: 23500000, Paired Rows: 1619071, Time: 2019-11-28 20:04:26.614298
Total Rows Read: 23600000, Paired Rows: 1625700, Time: 2019-11-28 20:05:49.137003
Total Rows Read: 23700000, Paired Rows: 1632655, Time: 2019-11-28 20:07:11.736479
Total Rows Read: 23800000, Paired Rows: 1640047, Time: 2019-11-28 20:08:37.324862
Total Rows Read: 23900000, Paired Rows: 1647576, Time: 2019-11-28 20:09:59.428912
Total Rows Read: 24000000, Paired Rows: 1655281, Time: 2019-11-28 20:11:25.037282
Cleanin up!
Total Rows Read: 24100000, Paired Rows: 1661305, Time: 2019-11-28 20:13:55.190022
Total Rows Read: 24200000, Paired Rows: 1668359, Time: 2019-11-28 20:15:09.357215
Total Rows Read: 24300000, Paired Rows: 1675511, Time: 2019-11-28 20:16:12.167756
Total Rows Read: 24400000, Paired Rows: 1682955, Time: 2019-11-28 20:17:14.902763
Total Rows Read: 24500000, Paired Rows: 1690328, Time: 2019-11-28 20:18:18.843285
Total Rows Read: 24600000, Paired Rows: 1697187, Time: 2019-11-28 20:19:24.082418
Total Rows Read: 24700000, Paired Rows: 1703337, Time: 2019-11-28 20:20:43.254787
Total Rows Read: 24800000, Paired Rows: 1709647, Time: 2019-11-28 20:22:52.202110
Total Rows Read: 24900000, Paired Rows: 1716210, Time: 2019-11-28 20:25:05.496553
Total Rows Read: 25000000, Paired Rows: 1722818, Time: 2019-11-28 20:27:08.977713
Cleanin up!
Total Rows Read: 25100000, Paired Rows: 1727850, Time: 2019-11-28 20:30:24.052541
Total Rows Read: 25200000, Paired Rows: 1733760, Time: 2019-11-28 20:31:26.179281
Total Rows Read: 25300000, Paired Rows: 1740110, Time: 2019-11-28 20:32:29.848372
Total Rows Read: 25400000, Paired Rows: 1746696, Time: 2019-11-28 20:33:38.913944
Total Rows Read: 25500000, Paired Rows: 1753590, Time: 2019-11-28 20:34:47.299381
Total Rows Read: 25600000, Paired Rows: 1760838, Time: 2019-11-28 20:35:57.109805
Total Rows Read: 25700000, Paired Rows: 1768406, Time: 2019-11-28 20:37:05.552319
Total Rows Read: 25800000, Paired Rows: 1776421, Time: 2019-11-28 20:38:18.371183
Total Rows Read: 25900000, Paired Rows: 1784543, Time: 2019-11-28 20:39:29.049553
Total Rows Read: 26000000, Paired Rows: 1792865, Time: 2019-11-28 20:40:38.403754
Cleanin up!
Total Rows Read: 26100000, Paired Rows: 1799549, Time: 2019-11-28 20:43:20.869436
Total Rows Read: 26200000, Paired Rows: 1806668, Time: 2019-11-28 20:44:40.289567
Total Rows Read: 26300000, Paired Rows: 1813951, Time: 2019-11-28 20:46:07.452976
Total Rows Read: 26400000, Paired Rows: 1820522, Time: 2019-11-28 20:47:38.634294
Total Rows Read: 26500000, Paired Rows: 1826444, Time: 2019-11-28 20:49:11.514512
Total Rows Read: 26600000, Paired Rows: 1832373, Time: 2019-11-28 20:50:41.226120
Total Rows Read: 26700000, Paired Rows: 1838972, Time: 2019-11-28 20:51:48.641725
Total Rows Read: 26800000, Paired Rows: 1845329, Time: 2019-11-28 20:52:52.778521
Total Rows Read: 26900000, Paired Rows: 1852005, Time: 2019-11-28 20:53:56.082243
Total Rows Read: 27000000, Paired Rows: 1858703, Time: 2019-11-28 20:55:31.763981
Cleanin up!
Total Rows Read: 27100000, Paired Rows: 1863785, Time: 2019-11-28 20:58:40.638983
Total Rows Read: 27200000, Paired Rows: 1869979, Time: 2019-11-28 20:59:40.289708
Total Rows Read: 27300000, Paired Rows: 1876542, Time: 2019-11-28 21:00:42.976106
Total Rows Read: 27400000, Paired Rows: 1883601, Time: 2019-11-28 21:02:04.616483
Total Rows Read: 27500000, Paired Rows: 1891074, Time: 2019-11-28 21:04:21.347798
Total Rows Read: 27600000, Paired Rows: 1898786, Time: 2019-11-28 21:06:00.532298
Total Rows Read: 27700000, Paired Rows: 1907015, Time: 2019-11-28 21:07:23.903845
Total Rows Read: 27800000, Paired Rows: 1915425, Time: 2019-11-28 21:08:47.941392
Total Rows Read: 27900000, Paired Rows: 1923653, Time: 2019-11-28 21:10:12.802792
Total Rows Read: 28000000, Paired Rows: 1931413, Time: 2019-11-28 21:11:37.237823
Cleanin up!
Total Rows Read: 28100000, Paired Rows: 1937522, Time: 2019-11-28 21:14:34.508103
Total Rows Read: 28200000, Paired Rows: 1943961, Time: 2019-11-28 21:15:55.206791
Total Rows Read: 28300000, Paired Rows: 1949522, Time: 2019-11-28 21:17:20.065843
Total Rows Read: 28400000, Paired Rows: 1955476, Time: 2019-11-28 21:18:44.665873
Total Rows Read: 28500000, Paired Rows: 1962120, Time: 2019-11-28 21:20:08.686833
Total Rows Read: 28600000, Paired Rows: 1968925, Time: 2019-11-28 21:21:12.751079
Total Rows Read: 28700000, Paired Rows: 1976319, Time: 2019-11-28 21:22:17.508765
Total Rows Read: 28800000, Paired Rows: 1984058, Time: 2019-11-28 21:23:20.668199
Total Rows Read: 28900000, Paired Rows: 1992017, Time: 2019-11-28 21:24:24.226386
Total Rows Read: 29000000, Paired Rows: 1999912, Time: 2019-11-28 21:25:27.942507
Cleanin up!
Total Rows Read: 29100000, Paired Rows: 2006225, Time: 2019-11-28 21:28:20.911200
Total Rows Read: 29200000, Paired Rows: 2013523, Time: 2019-11-28 21:29:20.747239
Total Rows Read: 29300000, Paired Rows: 2021120, Time: 2019-11-28 21:30:23.148989
Total Rows Read: 29400000, Paired Rows: 2028420, Time: 2019-11-28 21:31:53.130908
Total Rows Read: 29500000, Paired Rows: 2036060, Time: 2019-11-28 21:33:46.979809
Total Rows Read: 29600000, Paired Rows: 2043667, Time: 2019-11-28 21:35:35.254513
Total Rows Read: 29700000, Paired Rows: 2050969, Time: 2019-11-28 21:37:34.477899
Total Rows Read: 29800000, Paired Rows: 2057378, Time: 2019-11-28 21:39:40.960553
Total Rows Read: 29900000, Paired Rows: 2064044, Time: 2019-11-28 21:42:38.272813
Total Rows Read: 30000000, Paired Rows: 2070843, Time: 2019-11-28 21:44:58.729935
Cleanin up!

Total Rows Read: 30100000, Paired Rows: 2076220, Time: 2019-11-28 21:48:14.682590
Total Rows Read: 30200000, Paired Rows: 2082676, Time: 2019-11-28 21:49:13.894412
Total Rows Read: 30300000, Paired Rows: 2089852, Time: 2019-11-28 21:50:16.530351
Total Rows Read: 30400000, Paired Rows: 2097293, Time: 2019-11-28 21:51:19.519604
Total Rows Read: 30500000, Paired Rows: 2104305, Time: 2019-11-28 21:52:23.990196
Total Rows Read: 30600000, Paired Rows: 2111550, Time: 2019-11-28 21:53:27.961720
Total Rows Read: 30700000, Paired Rows: 2118253, Time: 2019-11-28 21:54:29.553930
Total Rows Read: 30800000, Paired Rows: 2125825, Time: 2019-11-28 21:55:38.250149
Total Rows Read: 30900000, Paired Rows: 2133442, Time: 2019-11-28 21:57:29.609738
Total Rows Read: 31000000, Paired Rows: 2140776, Time: 2019-11-28 21:59:16.412467
Cleanin up!
Total Rows Read: 31100000, Paired Rows: 2146651, Time: 2019-11-28 22:03:39.825241
Total Rows Read: 31200000, Paired Rows: 2153417, Time: 2019-11-28 22:04:55.240226
Total Rows Read: 31300000, Paired Rows: 2160377, Time: 2019-11-28 22:05:57.406995
Total Rows Read: 31400000, Paired Rows: 2166439, Time: 2019-11-28 22:07:00.740426
Total Rows Read: 31500000, Paired Rows: 2172120, Time: 2019-11-28 22:08:04.851264
Total Rows Read: 31600000, Paired Rows: 2178250, Time: 2019-11-28 22:09:10.612419
Total Rows Read: 31700000, Paired Rows: 2184583, Time: 2019-11-28 22:10:14.723792
Total Rows Read: 31800000, Paired Rows: 2191194, Time: 2019-11-28 22:11:53.192752
Total Rows Read: 31900000, Paired Rows: 2198431, Time: 2019-11-28 22:13:56.199461
Total Rows Read: 32000000, Paired Rows: 2205959, Time: 2019-11-28 22:15:35.613439
Cleanin up!
Total Rows Read: 32100000, Paired Rows: 2211708, Time: 2019-11-28 22:20:31.176768
Total Rows Read: 32200000, Paired Rows: 2218267, Time: 2019-11-28 22:23:09.344272
Total Rows Read: 32300000, Paired Rows: 2225320, Time: 2019-11-28 22:25:55.853083
Total Rows Read: 32400000, Paired Rows: 2232284, Time: 2019-11-28 22:28:42.693616
Total Rows Read: 32500000, Paired Rows: 2239676, Time: 2019-11-28 22:31:35.392188
Total Rows Read: 32600000, Paired Rows: 2247281, Time: 2019-11-28 22:34:43.264313
Total Rows Read: 32700000, Paired Rows: 2254876, Time: 2019-11-28 22:36:58.674276
Total Rows Read: 32800000, Paired Rows: 2262563, Time: 2019-11-28 22:38:02.064911
Total Rows Read: 32900000, Paired Rows: 2270291, Time: 2019-11-28 22:39:04.643814
Total Rows Read: 33000000, Paired Rows: 2278033, Time: 2019-11-28 22:40:44.005546
Cleanin up!
Total Rows Read: 33100000, Paired Rows: 2283483, Time: 2019-11-28 22:43:53.481630
Total Rows Read: 33200000, Paired Rows: 2289057, Time: 2019-11-28 22:45:03.203275
Total Rows Read: 33300000, Paired Rows: 2294526, Time: 2019-11-28 22:47:17.369365
Total Rows Read: 33400000, Paired Rows: 2300596, Time: 2019-11-28 22:49:27.346417
Total Rows Read: 33500000, Paired Rows: 2306878, Time: 2019-11-28 22:51:12.490037
Total Rows Read: 33600000, Paired Rows: 2313474, Time: 2019-11-28 22:52:30.986367
Total Rows Read: 33700000, Paired Rows: 2320177, Time: 2019-11-28 22:54:01.999807
Total Rows Read: 33800000, Paired Rows: 2327154, Time: 2019-11-28 22:55:21.590532
Total Rows Read: 33900000, Paired Rows: 2334273, Time: 2019-11-28 22:57:07.933247
Total Rows Read: 34000000, Paired Rows: 2341421, Time: 2019-11-28 23:00:01.252206
Cleanin up!
Total Rows Read: 34100000, Paired Rows: 2346838, Time: 2019-11-28 23:04:08.878933
Total Rows Read: 34200000, Paired Rows: 2353671, Time: 2019-11-28 23:05:26.894674
Total Rows Read: 34300000, Paired Rows: 2361185, Time: 2019-11-28 23:06:55.024531
Total Rows Read: 34400000, Paired Rows: 2368537, Time: 2019-11-28 23:09:18.616073
Total Rows Read: 34500000, Paired Rows: 2376171, Time: 2019-11-28 23:10:57.176767
Total Rows Read: 34600000, Paired Rows: 2383941, Time: 2019-11-28 23:12:18.465621
Total Rows Read: 34700000, Paired Rows: 2392256, Time: 2019-11-28 23:13:41.602933
Total Rows Read: 34800000, Paired Rows: 2400408, Time: 2019-11-28 23:15:02.525228
Total Rows Read: 34900000, Paired Rows: 2408062, Time: 2019-11-28 23:16:23.513418
Total Rows Read: 35000000, Paired Rows: 2415124, Time: 2019-11-28 23:17:46.680113
Cleanin up!
Total Rows Read: 35100000, Paired Rows: 2419537, Time: 2019-11-28 23:21:13.149908
Total Rows Read: 35200000, Paired Rows: 2424705, Time: 2019-11-28 23:22:30.752042
Total Rows Read: 35300000, Paired Rows: 2430406, Time: 2019-11-28 23:23:50.217844
Total Rows Read: 35400000, Paired Rows: 2436417, Time: 2019-11-28 23:25:11.077699
Total Rows Read: 35500000, Paired Rows: 2442584, Time: 2019-11-28 23:26:28.310392
Total Rows Read: 35600000, Paired Rows: 2449220, Time: 2019-11-28 23:27:48.501798
Total Rows Read: 35700000, Paired Rows: 2455966, Time: 2019-11-28 23:29:08.761168
Total Rows Read: 35800000, Paired Rows: 2462672, Time: 2019-11-28 23:30:30.363993
Total Rows Read: 35900000, Paired Rows: 2469812, Time: 2019-11-28 23:31:47.167080
Total Rows Read: 36000000, Paired Rows: 2477232, Time: 2019-11-28 23:33:24.380254
Cleanin up!
Total Rows Read: 36100000, Paired Rows: 2482722, Time: 2019-11-28 23:37:05.103989
Total Rows Read: 36200000, Paired Rows: 2489139, Time: 2019-11-28 23:38:05.556082
Total Rows Read: 36300000, Paired Rows: 2496143, Time: 2019-11-28 23:39:46.355884
Total Rows Read: 36400000, Paired Rows: 2503640, Time: 2019-11-28 23:41:30.989731
Total Rows Read: 36500000, Paired Rows: 2511714, Time: 2019-11-28 23:43:13.045951
Total Rows Read: 36600000, Paired Rows: 2520064, Time: 2019-11-28 23:44:39.553250
Total Rows Read: 36700000, Paired Rows: 2527657, Time: 2019-11-28 23:46:08.202940
Total Rows Read: 36800000, Paired Rows: 2534833, Time: 2019-11-28 23:47:49.052280
Total Rows Read: 36900000, Paired Rows: 2541473, Time: 2019-11-28 23:49:17.738655
Total Rows Read: 37000000, Paired Rows: 2547687, Time: 2019-11-28 23:51:15.264491
Cleanin up!
Total Rows Read: 37100000, Paired Rows: 2551937, Time: 2019-11-28 23:55:06.046142
Total Rows Read: 37200000, Paired Rows: 2557371, Time: 2019-11-28 23:56:08.649213
Total Rows Read: 37300000, Paired Rows: 2563085, Time: 2019-11-28 23:57:09.894601
Total Rows Read: 37400000, Paired Rows: 2569349, Time: 2019-11-28 23:58:17.239252
Total Rows Read: 37500000, Paired Rows: 2575909, Time: 2019-11-28 23:59:23.095329
Total Rows Read: 37600000, Paired Rows: 2582661, Time: 2019-11-29 00:00:26.490331
Total Rows Read: 37700000, Paired Rows: 2589787, Time: 2019-11-29 00:01:29.467044
Total Rows Read: 37800000, Paired Rows: 2596952, Time: 2019-11-29 00:03:10.444862
Total Rows Read: 37900000, Paired Rows: 2604516, Time: 2019-11-29 00:04:30.267978
Total Rows Read: 38000000, Paired Rows: 2612259, Time: 2019-11-29 00:06:41.899441
Cleanin up!
Total Rows Read: 38100000, Paired Rows: 2618136, Time: 2019-11-29 00:10:09.905551
Total Rows Read: 38200000, Paired Rows: 2625060, Time: 2019-11-29 00:11:11.195707
Total Rows Read: 38300000, Paired Rows: 2632372, Time: 2019-11-29 00:12:14.493351
Total Rows Read: 38400000, Paired Rows: 2639949, Time: 2019-11-29 00:13:16.671624
Total Rows Read: 38500000, Paired Rows: 2647591, Time: 2019-11-29 00:14:20.740226
Total Rows Read: 38600000, Paired Rows: 2655415, Time: 2019-11-29 00:15:26.077981
Total Rows Read: 38700000, Paired Rows: 2662477, Time: 2019-11-29 00:16:30.322471
Total Rows Read: 38800000, Paired Rows: 2668888, Time: 2019-11-29 00:17:39.853301
Total Rows Read: 38900000, Paired Rows: 2674810, Time: 2019-11-29 00:20:01.431000
Total Rows Read: 39000000, Paired Rows: 2681652, Time: 2019-11-29 00:22:17.602893
Cleanin up!
Total Rows Read: 39100000, Paired Rows: 2686168, Time: 2019-11-29 00:26:03.487206
Total Rows Read: 39200000, Paired Rows: 2691847, Time: 2019-11-29 00:27:03.016708
Total Rows Read: 39300000, Paired Rows: 2697998, Time: 2019-11-29 00:28:05.946250
Total Rows Read: 39400000, Paired Rows: 2704454, Time: 2019-11-29 00:29:25.696662
Total Rows Read: 39500000, Paired Rows: 2711176, Time: 2019-11-29 00:30:47.106770
Total Rows Read: 39600000, Paired Rows: 2718175, Time: 2019-11-29 00:32:09.721900
Total Rows Read: 39700000, Paired Rows: 2725810, Time: 2019-11-29 00:33:31.117232
Total Rows Read: 39800000, Paired Rows: 2733501, Time: 2019-11-29 00:34:51.378221
Total Rows Read: 39900000, Paired Rows: 2741560, Time: 2019-11-29 00:36:12.876758

Total Rows Read: 40000000, Paired Rows: 2749760, Time: 2019-11-29 00:37:34.173971
Cleanin up!
Total Rows Read: 40100000, Paired Rows: 2755891, Time: 2019-11-29 00:40:58.178837
Total Rows Read: 40200000, Paired Rows: 2762713, Time: 2019-11-29 00:42:18.772662
Total Rows Read: 40300000, Paired Rows: 2769949, Time: 2019-11-29 00:43:38.320151
Total Rows Read: 40400000, Paired Rows: 2777527, Time: 2019-11-29 00:44:58.749287
Total Rows Read: 40500000, Paired Rows: 2784414, Time: 2019-11-29 00:47:19.059988
Total Rows Read: 40600000, Paired Rows: 2790501, Time: 2019-11-29 00:49:47.750842
Total Rows Read: 40700000, Paired Rows: 2796598, Time: 2019-11-29 00:51:08.053056
Total Rows Read: 40800000, Paired Rows: 2803166, Time: 2019-11-29 00:52:27.297117
Total Rows Read: 40900000, Paired Rows: 2810253, Time: 2019-11-29 00:53:45.686692
Total Rows Read: 41000000, Paired Rows: 2817508, Time: 2019-11-29 00:55:03.906297
Cleanin up!
Total Rows Read: 41100000, Paired Rows: 2822923, Time: 2019-11-29 00:59:17.311419
Total Rows Read: 41200000, Paired Rows: 2829551, Time: 2019-11-29 01:00:36.268417
Total Rows Read: 41300000, Paired Rows: 2836715, Time: 2019-11-29 01:02:23.421673
Total Rows Read: 41400000, Paired Rows: 2844773, Time: 2019-11-29 01:03:47.401789
Total Rows Read: 41500000, Paired Rows: 2853028, Time: 2019-11-29 01:05:06.904399
Total Rows Read: 41600000, Paired Rows: 2861190, Time: 2019-11-29 01:06:26.399331
Total Rows Read: 41700000, Paired Rows: 2869478, Time: 2019-11-29 01:07:45.915855
Total Rows Read: 41800000, Paired Rows: 2877838, Time: 2019-11-29 01:09:09.486412
Total Rows Read: 41900000, Paired Rows: 2886353, Time: 2019-11-29 01:10:31.018232
Total Rows Read: 42000000, Paired Rows: 2894004, Time: 2019-11-29 01:11:55.126911
Cleanin up!
Total Rows Read: 42100000, Paired Rows: 2898873, Time: 2019-11-29 01:16:29.953110
Total Rows Read: 42200000, Paired Rows: 2904113, Time: 2019-11-29 01:17:59.577455
Total Rows Read: 42300000, Paired Rows: 2910060, Time: 2019-11-29 01:19:38.402211
Total Rows Read: 42400000, Paired Rows: 2916660, Time: 2019-11-29 01:21:03.881473
Total Rows Read: 42500000, Paired Rows: 2923752, Time: 2019-11-29 01:22:23.180570
Total Rows Read: 42600000, Paired Rows: 2931566, Time: 2019-11-29 01:23:40.971705
Total Rows Read: 42700000, Paired Rows: 2939619, Time: 2019-11-29 01:24:59.993207
Total Rows Read: 42800000, Paired Rows: 2947824, Time: 2019-11-29 01:27:20.893083
Total Rows Read: 42900000, Paired Rows: 2955900, Time: 2019-11-29 01:30:00.056874
Total Rows Read: 43000000, Paired Rows: 2964061, Time: 2019-11-29 01:32:06.774085
Cleanin up!
Total Rows Read: 43100000, Paired Rows: 2970357, Time: 2019-11-29 01:37:43.914845
Total Rows Read: 43200000, Paired Rows: 2977545, Time: 2019-11-29 01:39:05.566871
Total Rows Read: 43300000, Paired Rows: 2984974, Time: 2019-11-29 01:40:29.892001
Total Rows Read: 43400000, Paired Rows: 2992210, Time: 2019-11-29 01:41:54.253498
Total Rows Read: 43500000, Paired Rows: 2999368, Time: 2019-11-29 01:43:16.136992
Total Rows Read: 43600000, Paired Rows: 3006177, Time: 2019-11-29 01:44:42.410017
Total Rows Read: 43700000, Paired Rows: 3012648, Time: 2019-11-29 01:46:08.867442
Total Rows Read: 43800000, Paired Rows: 3018362, Time: 2019-11-29 01:47:21.220666
Total Rows Read: 43900000, Paired Rows: 3024566, Time: 2019-11-29 01:48:26.459515
Total Rows Read: 44000000, Paired Rows: 3030893, Time: 2019-11-29 01:49:30.585533
Cleanin up!
Total Rows Read: 44100000, Paired Rows: 3035621, Time: 2019-11-29 01:52:50.306223
Total Rows Read: 44200000, Paired Rows: 3041590, Time: 2019-11-29 01:53:50.480657
Total Rows Read: 44300000, Paired Rows: 3048179, Time: 2019-11-29 01:55:35.523424
Total Rows Read: 44400000, Paired Rows: 3054795, Time: 2019-11-29 01:57:38.353856
Total Rows Read: 44500000, Paired Rows: 3061797, Time: 2019-11-29 01:59:36.180178
Total Rows Read: 44600000, Paired Rows: 3069117, Time: 2019-11-29 02:01:38.397942

KeyboardInterrupt: